@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    color: var(--color-black);
}

:root{
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Dancing Script", cursive;
    --color-black: #222;
    --color-white: #ffffff;
    --color-primary: #d61c22;
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8;
    position: fixed;
    background-color: var(--color-white);
    width: 100%;
    /* border-bottom: 2px solid #d61c22; */
    z-index: 100;
}

@media screen and (max-width: 37.5em) {
    .header{
        display: flex;
        flex-direction: column;
    }
}

.header-logo-wrapper{
    text-decoration: none;
    color: var(--color-black);
}

.header-logo-text{
    text-transform: capitalize;
}

.header-nav-list{
    list-style: none;
    display: flex;
    gap: 4rem;
}

.header-nav-link{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-black);
}

.home{
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./assets/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.home-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.home-subtitle,
.home-maintitle {
  color: var(--color-white);
}

.home-subtitle{
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 6rem;
}

.home-maintitle{
    color: var(--color-white);
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
}

.home-cta{
    display: inline-block;
    background-color: var(--color-primary);
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-white);
    padding: 1.5rem 2rem;
    border-radius: 12px;
}

@media screen and (max-width: 25em) {
    .home-subtitle {
      font-size: 4rem;
    }
  
    .home-maintitle {
      font-size: 4rem;
    }
  }
  
  .about{
    padding: 6rem 12rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 3rem;
  }

  @media screen and (max-width: 62.5em) {
    .about {
      padding: 6rem 0.8rem;
    }
  }

  @media screen and (max-width: 53.125em){
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
  }

  .about-textbox{
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 1.14rem;
    color: #777;
    line-height: 2;
  }

  .about-cta{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-black);
  }

  .about-image--img{
    width: 50rem;
    border-radius: 15px;
    transition: all 0.5s ease;
  }
  .about-image--img:hover {
    transform: scale(1.02);
  }
  @media screen and (max-width: 31.25em) {
    .about-image--img {
      width: 100%;
      border-radius: 15px;
      transition: all 0.5s ease;
    }
  }

  .banner-2{
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(./assets/discover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner-2-subtitle{
    font-family: var(--secondary-font);
    font-size: 4rem;
    color: var(--color-primary);
    text-transform: capitalize;
  }

  .banner-2-maintitle{
    font-family: var(--primary-font);
    font-size: 5rem;
    color: var(--color-white);
    text-align: center;
  }